$title-font: "IBM Plex Sans", sans-serif;
$text-font: "Inter", sans-serif;
$primary: #5C2D93;
$light: #866D9D;
$off-white: #FFFADE;
$jet-black: #0A0A0A;
$grey-one: #7D7484;
$grey-two: #B1A8B9;
$white: #fff;
$black: #000;
$text-shadow: 1px 1px $grey-one, -1px -1px $grey-one, 1px -1px $grey-one, -1px 1px $grey-one;
$shadow-box1: 0px 0px 10px rgba(0, 0, 0, .2);
$shadow-box2: 1px 1px 13px 0px rgba(0,0,0,0.2);



*, *:before, *::after{
    margin: 0px;
    box-sizing: border-box;
}