@use 'sass:math';

$title-font: "IBM Plex Sans", sans-serif;
$text-font: "Inter", sans-serif;
$primary: #5C2D93;
$light: #866D9D;
$off-white: #FFFADE;
$jet-black: #0A0A0A;
$grey-one: #7D7484;
$grey-two: #B1A8B9;
$white: #fff;
$black: #000;
$text-shadow: 1px 1px $grey-one, -1px -1px $grey-one, 1px -1px $grey-one, -1px 1px $grey-one;
$shadow-box1: 0px 0px 10px rgba(0, 0, 0, .2);
$shadow-box2: 1px 1px 13px 0px rgba(0,0,0,0.2);
$line-height: 28.05px;


html{
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

//utils
//TODO: add utility functions for formatting media queries

//function to optimize rem units
@function rem($pixels, $content: 16){
    @return math.div($pixels, $content) * 1rem;
}

//meida query breakpoints
// 640px, 1024px, 1400px
$breakpoints-up:(
    "medium": "40em",
    "large": "64em",
    "xlarge": "87.5em",
);

// 639px, 1023px, 1399px
$breakpoints-down:(
    "small": "39.9375em",
    "medium": "69.9375em",
    "large": "87.4375em",
);

@mixin breakpoint($size){
    @media(min-width: map-get($breakpoints-up, $size)){
        @content
    }
};

@mixin breakpoint-down($size){
    @media(max-width: map-get($breakpoints-down, $size)){
        @content
    }
};


