.list-wrapper{
    height: auto;
    position: relative;
    left: 3%;
    top: 50px;
}

.page-heading{
    font-family: $title-font;
    font-size: 3.8rem;
    font-weight: 800;
    color: $primary;
    position: relative;
    left: 40px;
}

.post-list{
    margin-top: 30px;
    list-style: none;
    margin-left: 0px;
}

.posts{
    min-width: 60%;
    height: 180px;
    padding: 5px;
    margin-bottom: 50px;
    position: relative;
    .post-title{
        text-decoration: none;
        font-family: $text-font;
        color: $jet-black;
    }
    h2{
        font-size: 1.5rem;
        font-weight: 400;
        transition: all 2s ease-in;
        &:hover{
            color: darken($primary, 15%);
            font-weight: 600;
        }
    }      
    p{
        font-size: 1.1rem;
        font-family: $text-font;
        text-transform: capitalize;
        color: $jet-black;
    }
    small{
        color: $jet-black;
        font-size: .8rem;
        font-family: $text-font;
        position: relative;
        left: 5%;
        bottom: 15px;
        span{
            font-size: 3rem;
            color: $primary;
        }
        a{
            color: $jet-black;
        }
    }
}

.title-wrapper{
    width: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.read-more{
    font-family: $text-font;
    font-size: .9rem;
    font-weight: 500;
    text-decoration: none;
    color: $primary;
    text-transform: capitalize;
    width: 100px;
    height: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover{
        color: darken($primary, 10%);
    }
    position: relative;
    top: 10px;
}

.small-icons{
    color: $primary;
    position: relative;
    top: 2px;
}

.pagination {
    background-color: transparent;
    position: relative;
    a{
        font-family: $text-font;
        font-weight: 600;
        font-size: 1.2rem;
        text-transform: capitalize;
        color: $jet-black;
        text-decoration: none;
        position: relative;
        top: 30px;
        &:hover{
            color: darken($primary, 10%);
            font-weight: 600;
        }
    }
}

.nextpage{
    position: relative;
    left: 80%;
}

.prevpage{
    position: relative;
    left: 5%;
}


.pag-icons{
    position: relative;
    top: 10px;
}



