.nav{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    padding: 5px 20px 5px 20px;
    background-color: $white;
    background-image: url('../images/grainy.png');
    background-position: center;
    background-size: cover;
}

.line{
    width: 80%;
    height: 2.5px;
    background-color: $primary;
    border-radius: 1.5px;
}

.logo{
    font-family: $title-font;
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
    a{
        text-decoration: none;
        color: $jet-black;
    }
}

.nav-items{
    width: 20%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -20px;
}

.nav-item{
    font-family: $text-font;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
    color: $black;
    text-transform: lowercase;
    &:hover{
        color: $light;
    }
}

.active{
    color: $primary;
}

