.post-wrapper{
    width: 100vw;
    padding: 5px;
    position: relative;
}

.post-header{
    width: 100%;
    height: 150px;
    background-color: $white;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
    h1{
        font-family: $title-font;
        font-weight: 700;
        font-size: 3rem;
        text-transform: capitalize;
        color: $primary;
        margin-top: 70px;
        margin-left: 8%;
    }
    small{
        font-size: 1rem;
        color: $grey-one;
        font-family: $text-font;
        margin-left: 20px;
        margin-top: 70px;
    }
}

.tag a{
    color: $grey-one;
}

.post-body{
    background: $off-white;
    width: 60%;
    position: relative;
    top: 30px;
    border-radius: 10px;
    padding: 20px;
    font-family: $text-font;
    color: $black;
    p{
        width: 500px;
        position: relative;
        left: 10%;
        font-size: 16.5px;
        font-weight: 400;
        line-height: 28.05px;
    }
}

.backlink{
    position: absolute;
    top: 20px;
    left: 100px;
    font-size: .8rem;
    font-family: $text-font;
    text-decoration: none;
    text-transform: capitalize;
    &:hover{
        color: $light;
    }
}

.post-end{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row-reverse;
    position: relative;
    top: 50px;
}

.other-posts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    list-style: none;
    margin-left: 0px;
    position: relative;
    left: -100px;
    li{
        margin-bottom: 30px;
        p{
            font-family: $text-font;
            font-size: 1.12rem;
        }
        a{
            text-decoration: none;
            color: $jet-black;
            font-family: $title-font;
            font-weight: 700;
            font-size: 1.8rem;
            &:hover{
                color: $light;
            }
        }
    }
}

.previous a{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.next a{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}

.comments{
    width: 50%;
    padding: 20px;
}

